section.box__bloque.grid__c3  
    div.box__background--innovation
        div
            img(class="box__img--bloq2-border" src="../../src/images/img-noticias.jpg", alt="")
            h4.box__title.primaryfont__bold Cita GO-ON
        div.box__icon
            svg( class="svg__icon--date"
            )
                use(xlink:href="../../src/iconos/share-back.svg#share-back")
            span.tag__salud.box__tag--space  Salud
        div.box__date
            div
                div.box__icon--date
                    svg( 
                class="svg__icon--margin", 
                    )
                        use(xlink:href="../../src/iconos/calendar.svg#calen")
                    span.box__icon--date-innovation
                        p.text-small Fecha de publicación: 
                    p.text-small  04/02/2022

                div.box__icon--date
                    svg( 
                class="svg__icon--margin", 
                    )
                        use(xlink:href="../../src/iconos/watch.svg#watch")
                    span.box__icon--date-innovation
                        p.text-small Horario: 
                    p.text-small  100€

                div.box__icon--date
                    svg( 
                class="svg__icon--margin", 
                    )
                        use(xlink:href="../../src/iconos/users.svg#users")
                    span.box__icon--date-innovation
                        p.text-small Autor: 
                    p.text-small  BCC Innovation
        p.box__description--date.text-small Estudio de la eficacia de una intervención multimodal sobre factores de 
            span.primaryfont__bold.text-small riesgo y estilos de vida en personas con riesgo 
            | aumentado de demencia y fragilidad cognitiva para la prevención del deterioro cognitivo.
        div
            a.btn__primary--small-nocolor-innovation(href="#") más información
    //- card 2
    div.box__background--innovation
        div
            img(class="box__img--bloq2-border" src="../../src/images/img-noticias.jpg", alt="")
        div.box__icon
            svg( class="svg__icon--date"
            )
                use(xlink:href="../../src/iconos/share-back.svg#share-back")
            span.tag__salud.box__tag--space  Salud
            span.tag__salud.box__tag--space  Análisis corporal
        h4.box__title.primaryfont__bold Cita GO-ON
        div.box__date
            div
                div.box__icon--date
                    svg( 
                class="svg__icon--margin", 
                    )
                        use(xlink:href="../../src/iconos/calendar.svg#calen")
                    span.box__icon--date-innovation
                        p.text-small Fecha de publicación: 
                    p.text-small  04/02/2022

                div.box__icon--date
                    svg( 
                class="svg__icon--margin", 
                    )
                        use(xlink:href="../../src/iconos/watch.svg#watch")
                    span.box__icon--date-innovation
                        p.text-small Horario: 
                    p.text-small  100€

                div.box__icon--date
                    svg( 
                class="svg__icon--margin", 
                    )
                        use(xlink:href="../../src/iconos/users.svg#users")
                    span.box__icon--date-innovation
                        p.text-small Autor: 
                    p.text-small  BCC Innovation
        p.box__description--date.text-small Estudio de la eficacia de una intervención multimodal sobre factores de 
            span.primaryfont__bold.text-small riesgo y estilos de vida en personas con riesgo 
            | aumentado de demencia y fragilidad cognitiva para la prevención del deterioro cognitivo.
        div
            a.btn__primary--small-nocolor-innovation(href="#") más información
    //- card 3
    div.box__background--innovation
        div
            img(class="box__img--bloq2-border" src="../../src/images/img-noticias.jpg", alt="")
        div.box__icon
            svg( class="svg__icon--date"
            )
                use(xlink:href="../../src/iconos/share-back.svg#share-back")
            span.tag__salud.box__tag--space  Salud
        h4.box__title.primaryfont__bold Cita GO-ON
        div.box__date
            div
                div.box__icon--date
                    svg( 
                class="svg__icon--margin", 
                    )
                        use(xlink:href="../../src/iconos/calendar.svg#calen")
                    span.box__icon--date-innovation
                        p.text-small Fecha de publicación: 
                    p.text-small  04/02/2022

                div.box__icon--date
                    svg( 
                class="svg__icon--margin", 
                    )
                        use(xlink:href="../../src/iconos/watch.svg#watch")
                    span.box__icon--date-innovation
                        p.text-small Horario: 
                    p.text-small  100€

                div.box__icon--date
                    svg( 
                class="svg__icon--margin", 
                    )
                        use(xlink:href="../../src/iconos/users.svg#users")
                    span.box__icon--date-innovation
                        p.text-small Autor: 
                    p.text-small  BCC Innovation
        p.box__description--date.text-small Estudio de la eficacia de una intervención multimodal sobre factores de 
            span.primaryfont__bold.text-small riesgo y estilos de vida en personas con riesgo 
            | aumentado de demencia y fragilidad cognitiva para la prevención del deterioro cognitivo.
        div
            a.btn__primary--small-nocolor-innovation(href="#") más información
    div.padding 
        a.btn__primary--small-color(href="#") ver más   