section.padding.box__background--home
    div.padding__top-x-large.title__link.center__content
        div
            p.text-large Gastronomía 360
            h1.primaryfont__bold Una visión integral
        div
            a(class="link text-small display__desktop" href="#") ACCEDER A GASTRONOMÍA 360
                svg( 
                    class="svg__icon", 
                    )
                        use(xlink:href="../../src/iconos/arrow-link.svg#arrow-link")
    div.box__principal.center__content
        h3.box__title.display__mobile.primaryfont__bold Toni Segarra: «No es momento para el marketing».
        div
            span.tag__primary.box__tag Etiqueta 01
            img(class="box__img" src="../../src/images/img-noticias.jpg", alt="")
        div.box__content
            h3.box__title.display__desktop.primaryfont__bold Toni Segarra: «No es momento para el marketing».
            p.display__desktop.text-medium.primaryfont__bold 01/01/2022
            p.box__description.text-medium Es momento de hacer. De pasar del dicho al hecho. De rehuir del márketing y las falsas promesas para más bien actuar oportunamente y no oportunistamente como sugiere Toni Segarra, el gurú de la publicidad y uno de los mejores creativos españoles del siglo XX, , convencido de que “lo peor de la crisis todavía está por llegar y algunos términos como confianza y actitud empezarán a sonar pasado el verano”. 
            a(class="link text-small box__link display__desktop" href="#") Leer más 
                svg( 
                    class="svg__icon", 
                    )
                    use(xlink:href="../../src/iconos/arrow-link.svg#arrow-link")
                    
    div.grid__c3.center__content 
        div.box
            div
                span.tag__primary.box__tag--bloq2  Etiqueta 01
                img(class="box__img--bloq2 display__desktop" src="../../src/images/img-noticias.jpg", alt="")
            h4.box__title.primaryfont__bold Pablo Rivero: una ganadería que imite a la naturaleza
            p.display__desktop.text-small 01/01/2022
            p.box__description.text-small El chef de la parrilla Don Julio de Buenos Aires desgranó en el encuentro Haragi los potenciales beneficios de la ganadería regenerativa y defendió la nobleza de un producto que hoy está en el punto de mira: la carne.
            div.box__link.display__desktop
                a(class="link x-small" href="#") Leer más
                    svg( 
                        class="svg__icon", 
                        )
                        use(xlink:href="../../src/iconos/arrow-link.svg#arrow-link")
        div.box
            div
                span.tag__primary.box__tag--bloq2  Etiqueta 01
                img(class="box__img--bloq2 display__desktop" src="../../src/images/img-noticias.jpg", alt="")
            h4.box__title.primaryfont__bold La sostenibilidad como negocio virtuoso
            p.display__desktop.text-small 01/01/2022
            p.box__description.text-small El director de la Fundación Restaurantes Sostenibles, Sergio Gil, aboga por una concepción pragmática de la gestión sostenible que no se apoya solo en la ideología y la ética, sino que apunta a la rentabilidad de las empresas de hostelería.
            div.box__link.display__desktop
                a(class="link x-small" href="#") Leer más
                    svg( 
                        class="svg__icon", 
                        )
                        use(xlink:href="../../src/iconos/arrow-link.svg#arrow-link")


        div.box
            div
                span.tag__primary.box__tag--bloq2  Etiqueta 01
                img(class="box__img--bloq2 display__desktop" src="../../src/images/img-noticias.jpg", alt="")
            h4.box__title.primaryfont__bold Maneras de convertir el desperdicio en beneficio
            p.display__desktop.text-small 01/01/2022
            p.box__description.text-small Jóvenes reconocidos por la iniciativa Talento Joven de la Gastronomía compartieron en una mesa redonda online sus experiencias y su percepción de cuáles son las posibles soluciones para reducir y aprovechar los desechos en todos los eslabones de la cadena.
            div.box__link.display__desktop
                a(class="link x-small" href="#") Leer más
                    svg( 
                        class="svg__icon", 
                        )
                        use(xlink:href="../../src/iconos/arrow-link.svg#arrow-link")
        
        div.display__mobile.padding__top-gap
            a.btn__primary--small-color(href="#") Ver todos los eventos
    

    
