include ../head/head.pug

    //- COLOR LARGE
        
    //- icon
    a.btn__primary--large-color(href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Typical_Use_Cases_of_Flexbox")
        h5 Press
        svg( 
        class="svg__icon--right", 
        aria-labelledby="btn__primary--large-color",
        )
            use(xlink:href="../../src/iconos/calendario.svg#calendar")

    //- no icon
    a.btn__primary--large-color(href="#")
        h5 Press
        svg( 
        class="svg__icon--left", 
        aria-labelledby="btn__primary--large-color",
        )
            use(xlink:href="../../src/iconos/calendario.svg#calendar")

    
    //- disabled 
    button(class='btn__primary--large-color' disabled) Presss



    //- COLOR MEDIUM
    a.btn__primary--medium-color(href="#")
        h5 Press
        svg( 
        class="svg__icon--right", 
        aria-labelledby="btn__primary--medium-color",
        )
            use(xlink:href="../../src/iconos/calendario.svg#calendar")

    //- no icon
    a.btn__primary--medium-color(href="https://instagram.com/?lang=en" target="_blank")
        h5 Press
    
    //- disabled 
    button(class='btn__primary--medium-color' disabled) Presss

    
    //- COLOR SMALL
    a.btn__primary--small-color(href="#")
        h5 Press
        svg( 
        class="svg__icon--right", 
        aria-labelledby="btn__primary--small-color",
        )
            use(xlink:href="../../src/iconos/calendario.svg#calendar")

    //- no icon
    a.btn__primary--small-color(href="#")
        h5 Press
    
    //- disabled 
    button(class='btn__primary--small-color' disabled) Presss
    
    
    
    
    //- NO COLOR LARGE
        
    //- icon
    a.btn__primary--large-nocolor(href="#")
        h5 Press
        svg( 
        class="svg__icon--right", 
        aria-labelledby="btn__primary--large-nocolor",
        )
            use(xlink:href="../../src/iconos/calendario.svg#calendar")

    //- no icon
    a.btn__primary--large-nocolor(href="#")
        h5 Press
    
    //- disabled 
    button(class='btn__primary--large-nocolor' disabled) Presss



    //- COLOR MEDIUM
    a.btn__primary--medium-nocolor(href="#")
        h5 Press
        svg( 
        class="svg__icon--right", 
        aria-labelledby="btn__primary--medium-nocolor",
        )
            use(xlink:href="../../src/iconos/calendario.svg#calendar")

    //- no icon
    a.btn__primary--medium-nocolor(href="#")
        h5 Press
    
    //- disabled 
    button(class='btn__primary--medium-nocolor' disabled) Presss



    //- NO COLOR SMALL
    a.btn__primary--small-nocolor(href="#")
        h5 Press
        svg( 
        class="svg__icon--right", 
        aria-labelledby="btn__primary--small-nocolor",
        )
            use(xlink:href="../../src/iconos/calendario.svg#calendar")

    //- no icon
    a.btn__primary--small-nocolor(href="#")
        h5 Press
    
    //- disabled 
    button(class='btn__primary--small-nocolor' disabled) Presss
    


    //- BTN MODAL
    a.btn__modal(href="#")
            h5 Press
            svg( 
            class="svg__icon--right", 
            aria-labelledby="btn__primary--large-color",
            )
                use(xlink:href="../../src/iconos/calendario.svg#calendar")
            



</html>

