include ../head/head.pug
        section.padding.box__background--home
            div.padding__top-x-large.title__link
                div
                    p.text-large Actualidad
                    h1.primaryfont__bold Conoce nuestra agenda
                    h3.primaryfont__bold.display__mobile Próximos eventos:
                div
                    a(class="link text-small display__desktop" href="#") VER TODOS
                        svg( 
                            class="svg__icon", 
                            )
                                use(xlink:href="../../src/iconos/arrow-link.svg#arrow-link")

            section.padding__bottom-x-large.box__bloque.grid__c3
                div.padding__bottom-regular.box
                    div
                        span.tag__innovation.box__tag  Innovación
                        img(class="box__img--bloq2" src="../../src/images/img-noticias.jpg", alt="")
                    div.box__icon
                        svg( class="svg__icon--date"
                        )
                            use(xlink:href="../../src/iconos/share-back.svg#share-back")
                        span.tag__card--grey.box__tag--space  Presencial
                        span.tag__card--border.box__tag--space  Incripción abierta
                    h4.box__title.primaryfont__bold Nueva edición Foro Internacional de Emprendedores
                    div.box__date
                        div.box__date--space
                            p.text-large__garamond 23
                            p.text-medium__garamond FEB    
                        p.box__description--date.text-small El chef de la parrilla Don Julio de Buenos Aires desgranó en el encuentro Haragi los potenciales beneficios de la ganadería regenerativa y defendió la nobleza de un producto que hoy está en el punto de mira: la carne.
                    div.display__mobile
                        a.btn__primary--small-nocolor(href="#") Quiero inscribirme
                    div.display__desktop
                        a.btn__primary--large-nocolor(href="#") Quiero inscribirme


                div.box
                    div
                        span.tag__primary.box__tag--bloq2  Etiqueta 01
                        img(class="box__img--bloq2 display__desktop" src="../../src/images/img-noticias.jpg", alt="")
                    div.box__icon
                        svg( class="svg__icon--date display__desktop"
                        )
                            use(xlink:href="../../src/iconos/share-back.svg#share-back")
                        span.tag__card--grey.box__tag--space.display__desktop  Presencial
                    h4.box__title.primaryfont__bold Nueva edición Foro Internacional de Emprendedores
                    .box__date
                        div.box__date--space.display__mobile
                            p.text-medium__garamond 23
                            p.text-small__garamond FEB  
                        div.box__date--space.display__desktop
                            p.text-large__garamond 23
                            p.text-medium__garamond FEB    
                        p.box__description--date.text-small.display__desktop El chef de la parrilla Don Julio de Buenos Aires desgranó en el encuentro Haragi los potenciales beneficios de la ganadería regenerativa y defendió la nobleza de un producto que hoy está en el punto de mira: la carne.
                        div.display__mobile
                            div.box__icon--date
                                svg( 
                            class="svg__icon--margin", 
                                )
                                    use(xlink:href="../../src/iconos/calendar.svg#calen")
                                span.box__icon--date-home
                                    p Fechas: 
                                p  1/05/2022 - 02/09/2022

                            div.box__icon--date
                                svg( 
                            class="svg__icon--margin", 
                                )
                                    use(xlink:href="../../src/iconos/cash-money.svg#cash-money")
                                span.box__icon--date-home
                                    p Precio: 
                                p  100€

                            div.box__icon--date
                                svg( 
                            class="svg__icon--margin", 
                                )
                                    use(xlink:href="../../src/iconos/location.svg#location")
                                span.box__icon--date-home
                                    p Lugar: 
                                p  Edificio BCC
                    div.display__desktop 
                        a.btn__primary--large-nocolor(href="#") Quiero inscribirme
                    
                div.box
                    div
                        span.tag__primary.box__tag--bloq2  Etiqueta 01
                        img(class="box__img--bloq2 display__desktop" src="../../src/images/img-noticias.jpg", alt="")
                    div.box__icon
                        svg( class="svg__icon--date display__desktop"
                        )
                            use(xlink:href="../../src/iconos/share-back.svg#share-back")
                        span.tag__card--grey.box__tag--space.display__desktop  Presencial
                    h4.box__title.primaryfont__bold Nueva edición Foro Internacional de Emprendedores
                    .box__date
                        div.box__date--space.display__mobile
                            p.text-medium__garamond 23
                            p.text-small__garamond FEB  
                        div.box__date--space.display__desktop
                            p.text-large__garamond 23
                            p.text-medium__garamond FEB    
                        p.box__description--date.text-small.display__desktop El chef de la parrilla Don Julio de Buenos Aires desgranó en el encuentro Haragi los potenciales beneficios de la ganadería regenerativa y defendió la nobleza de un producto que hoy está en el punto de mira: la carne.
                        div.display__mobile
                            div.box__icon--date
                                svg( 
                            class="svg__icon--margin", 
                                )
                                    use(xlink:href="../../src/iconos/calendar.svg#calen")
                                span.box__icon--date-home
                                    p Fechas: 
                                p  1/05/2022 - 02/09/2022

                            div.box__icon--date
                                svg( 
                            class="svg__icon--margin", 
                                )
                                    use(xlink:href="../../src/iconos/cash-money.svg#cash-money")
                                span.box__icon--date-home
                                    p Precio: 
                                p  100€

                            div.box__icon--date
                                svg( 
                            class="svg__icon--margin", 
                                )
                                    use(xlink:href="../../src/iconos/location.svg#location")
                                span.box__icon--date-home
                                    p Lugar: 
                                p  Edificio BCC
                    div.display__desktop
                        a.btn__primary--large-nocolor(href="#") Quiero inscribirme
                    
                div.display__mobile.padding__top-gap
                    a.btn__primary--small-color(href="#") Ver todos los eventos
            


                            
                        

                        

                


                