include ../head/head.pug
    main
        section.padding
            h3.primaryfont__bold--800 Áreas de trabajo
            div.padding__bottom-x-large.grid__c5
                div.card__line
                    hr.display__mobile
                    .card__details--margin
                        p.text-medium.card__title--color.primaryfont__bold--800.primaryfont__bold Cocina
                        p.text-small.card__description  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        div.box__link.display__desktop
                            a(class="link x-small" href="#") Saber más
                                svg( 
                                    class="svg__icon", 
                                    )
                                    use(xlink:href="../../src/iconos/arrow-link.svg#arrow-link")         
                div.card__line
                    hr.display__mobile
                    .card__details--margin
                        p.text-medium.card__title--color.primaryfont__bold--800.primaryfont__bold Ciencia
                        p.text-small.card__description  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        div.box__link.display__desktop
                            a(class="link x-small" href="#") Saber más
                                svg( 
                                    class="svg__icon", 
                                    )
                                    use(xlink:href="../../src/iconos/arrow-link.svg#arrow-link")
                div.card__line
                    hr.display__mobile
                    .card__details--margin
                        p.text-medium.card__title--color.primaryfont__bold--800.primaryfont__bold Sala y servicio
                        p.text-small.card__description  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        div.box__link.display__desktop
                            a(class="link x-small" href="#") Saber más
                                svg( 
                                    class="svg__icon", 
                                    )
                                    use(xlink:href="../../src/iconos/arrow-link.svg#arrow-link")
                div.card__line
                    hr.display__mobile
                    .card__details--margin
                        p.text-medium.card__title--color.primaryfont__bold--800.primaryfont__bold Innovación
                        p.text-small.card__description  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        div.box__link.display__desktop
                            a(class="link x-small" href="#") Saber más
                                svg( 
                                    class="svg__icon", 
                                    )
                                    use(xlink:href="../../src/iconos/arrow-link.svg#arrow-link")
                div.card__line
                    hr.display__mobile
                    .card__details--margin
                        p.text-medium.card__title--color.primaryfont__bold--800.primaryfont__bold Otras
                        p.text-small.card__description  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        div.box__link.display__desktop
                            a(class="link x-small" href="#") Saber más
                                svg( 
                                    class="svg__icon", 
                                    )
                                    use(xlink:href="../../src/iconos/arrow-link.svg#arrow-link")
