include ../head/head.pug
        
        section.padding
            div.padding__top-x-large
                div
                    p.text-large Restaurantes
                    h1.primaryfont__bold Dos conceptos distintos
            section.padding__bottom-x-large.grid__c2
                div
                    div
                        img(class="box__img--bloq2-border" src="../../src/images/img-noticias.jpg", alt="")
                        p.text-small Restaurante BCC
                        h4.box__title.primaryfont__bold Cita GO-ON
                    div.box__date
                        div
                            div.box__icon--date
                                svg( 
                            class="svg__icon--margin", 
                                )
                                    use(xlink:href="../../src/iconos/calendar.svg#calen")
                                span.box__icon--date-innovation
                                    p.text-small Fecha de publicación: 
                                p.text-small  04/02/2022

                            div.box__icon--date
                                svg( 
                            class="svg__icon--margin", 
                                )
                                    use(xlink:href="../../src/iconos/watch.svg#watch")
                                span.box__icon--date-innovation
                                    p.text-small Horario: 
                                p.text-small  100€

                            div.box__icon--date
                                svg( 
                            class="svg__icon--margin", 
                                )
                                    use(xlink:href="../../src/iconos/users.svg#users")
                                span.box__icon--date-innovation
                                    p.text-small Autor: 
                                p.text-small  BCC Innovation
                    p.text-small Nuestros alumnos del Máster de Perfeccionamiento en Cocina han diseñado un menú inspirados en la historia del hombre a través de la alimentación, del Homo sapiens hasta nuestros días.
                    div
                        a.btn__primary--large-color-width(href="#") Reserbar en restaurante BCC
                //- card 2
                div
                    div
                        img(class="box__img--bloq2-border" src="../../src/images/img-noticias.jpg", alt="")
                        p.text-small Restaurante LABe
                        h4.box__title.primaryfont__bold Producto local y de temporada
                    div.box__date
                        div
                            div.box__icon--date
                                svg( 
                            class="svg__icon--margin", 
                                )
                                    use(xlink:href="../../src/iconos/calendar.svg#calen")
                                span.box__icon--date-innovation
                                    p.text-small Fecha de publicación: 
                                p.text-small  04/02/2022

                            div.box__icon--date
                                svg( 
                            class="svg__icon--margin", 
                                )
                                    use(xlink:href="../../src/iconos/watch.svg#watch")
                                span.box__icon--date-innovation
                                    p.text-small Horario: 
                                p.text-small  100€

                            div.box__icon--date
                                svg( 
                            class="svg__icon--margin", 
                                )
                                    use(xlink:href="../../src/iconos/users.svg#users")
                                span.box__icon--date-innovation
                                    p.text-small Autor: 
                                p.text-small  BCC Innovation
                    p.text-small Nuestros alumnos del Máster de Perfeccionamiento en Cocina han diseñado un menú inspirados en la historia del hombre a través de la alimentación, del Homo sapiens hasta nuestros días.
                    div
                        a.btn__primary--large-color-width(href="#") Reserbar en LABe
                    